SERVER_PORT=8080
DATABASE_PATH="./open1.db"
DATABASE_SEED="auto"

SERVER_JWT_SECRET="APIKEY123"

# BOOTSTRAP_ORG_NAME=Default Organization
# BOOTSTRAP_ORG_SLUG=default
# BOOTSTRAP_PROJECT_NAME="Default Project"
# BOOTSTRAP_ADMIN_EMAIL=admin@example.com
# BOOTSTRAP_ADMIN_PASSWORD=change-me
